/*====================================================================================================================*\
  БАЗОВЫЕ СТИЛИ
\*====================================================================================================================*/

body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  /*font-family: "PT Sans", "Arial", sans-serif;*/
  font-family: "Cuprum", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

li {
  list-style-type: none;
}

a {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  font-family: "Cuprum", sans-serif;
}

h3 {
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
}

h4 {
  margin: 0;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}

img {
  width: 100%;
  height: auto;
}

.centering {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

.main-link {
  background-color: #ee3643;
  font-size: 14px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

/*====================================================================================================================*\
  ХЕДЕР
\*====================================================================================================================*/

.obertka-s-sinim-fonom {
  width: 100%;
  background-color: #293449;
}

.obertka-s-serim-fonom {
  background-color: #f3f7f8;
  padding-bottom: 25px;
  margin-bottom: 57px;
}

.user-nav-list,
.main-nav-list {
  background-color: #293449;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  line-height: 18px;
}

.user-nav-list-container {
  display: flex;
}

.user-nav-link:not(.link-logo) {
  padding: 12px 24px;
}

.user-nav-link svg {
  margin-right: 10px;
  vertical-align: middle;

}

.link-logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
  line-height: 42px;
  font-size: 24px;
}

.link-order {
  background-color: #63a63e;
}

.header-block {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.header-block-promo {
  font-style: italic;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  width: 200px;
  margin-left: 52px;
}

.header-block-contacts {
  text-align: center;
}

.header-block-contacts-number {
  font-size: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding: 7px 50px 7px 70px;
  position: relative;
}

.header-block-contacts-number svg {
  position: absolute;
}

.header-block-contacts-address {
  font-size: 14px;
  color: #32425c;
}

.registration-list {
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.registration-item svg {
  margin-right: 5px;
}

.registration-item a {
  color: #000000;
  font-size: 21px;
  background-color: #ffffff;
  padding: 10px 25px;
}

.item-enter {
  margin-right: 10px;
}

.main-nav-list {
  margin: 41px 0;
  padding: 19px;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
  display: flex;
  justify-content: space-around;
}

/*====================================================================================================================*\
  FEATURES
\*====================================================================================================================*/

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 33px;
}

.features-item {
  width: 300px;
  height: 123px;
  color: #ffffff;
  padding: 23px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.item-materials-1,
.item-materials-2 {
  display: flex;
  justify-content: space-between;
}

.item-materials-1 {
  width: 620px;
  flex-wrap: wrap;
}

.item-materials-2 {
  flex-direction: column;
  justify-content: space-between;
}

.item-materials-2 .features-item {
  margin-bottom: 20px;
}

 .features-item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
 }

.features-item-link {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 8px;
  text-transform: uppercase;
  width: 135px;
  height: 38px;
  display: block;
  box-sizing: border-box;
  text-align: center;
}

.item-materials {
  background-color: #ffbf47;
  background-image: url("../svg/svg-technomart/icon-1.svg");
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 202px 31px;
}

.item-instruments {
  background-color: #3bbce3;
  background-image: url("../svg/svg-technomart/icon-2.svg");
  background-repeat: no-repeat;
  background-size: 73px 65px;
  background-position: 198px 31px;

}
.item-technique {
  background-color: #dc91d8;
  background-image: url("../svg/svg-technomart/icon-3.svg");
  background-repeat: no-repeat;
  background-size: 76px 66px;
  background-position: 192px 29px;
}

.item-sale {
  background-color: #8ed78f;
  background-image: url("../svg/svg-technomart/icon-4.svg");
  background-repeat: no-repeat;
  background-size: 74px 71px;
  background-position: 189px 27px;
}

.item-delivery {
  background-color: #ffc047;
  background-image: url("../svg/svg-technomart/icon-5.svg");
  background-repeat: no-repeat;
  background-size: 77px 69px;
  background-position: 192px 29px;
}

.features-slider {
  width: 620px;
  height: 266px;
  position: relative;
}

.features-slider-slide {
  height: 266px;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 29px 25px;
}

.features-slider-slide-title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}

.features-slider-slide-text {
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.features-slider-slide.slide-1 {
  background-image: url("../img/slider-1-slide-1.jpg");
}

.features-slider-slide.slide-2 {
  background-image: url("../img/slider-1-slide-2.jpg");
  display: none;
}

.features-slider-link {
  position: absolute;
  left: 25px;
  bottom: 21px;
  padding: 7px 48px;
}

.button-slide {
  position: absolute;
  cursor: pointer;
}

.buttons-circle .button-slide {
  background: transparent;
  border: none;
}

.button-circle-left {
  left: 19px;
  top: 113px;
}

.button-circle-right {
  right: 14px;
  top: 113px;
}

.buttons-arrow .button-slide {
  padding: 0;
  background-color: #ee3643;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  bottom: 36px;
}

.button-arrow-left {
  left: 295px;
}

.button-arrow-right {
  left: 315px;
}

/*====================================================================================================================*\
  POPULAR
\*====================================================================================================================*/

.products-list,
.producers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.products-list {
  padding-bottom: 20px;
}

.popular-producers {
  margin-bottom: 64px;
}

.popular-products-wrapper,
.popular-producers-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
  padding: 25px 26px 24px 27px;
  align-items: center;
  margin-bottom: 21px;
}

.popular-link {
  padding: 8px 0;
  width: 253px;
  text-align: center;
 }

.products-item {
  border: 1px solid #eaeaea;
  padding: 0px 14px;
  background-color: #ffffff;
  width: 220px;
  height: 315px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.products-item-price {
  font-size: 17px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.products-item img {
  width: 200px;
}

.price-sale {
  color: #a9a9a9;
  text-decoration: line-through;
  padding: 9px;
  display: block;
  height: 40px;
  box-sizing: border-box;
}

.price-actual {
  color: #ffffff;
  background-image: url("../svg/svg-technomart/red-button.svg");
  background-repeat: no-repeat;
  width: 141px;
  height: 38px;
}

.products-item-background {
  display: none;
}

.products-item-price-wrapper {
  line-height: 38px;
  padding: 0 27px;
}

.products-new {
  background-color: #ff5357;
  color: #ffffff;
  transform: rotate(45deg);
  width: 80px;
  font-size: 14px;
  top: 7px;
  right: -21px;
  text-align: center;
}

.producers-item {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
  width: 214px;
  height: 143px;
  margin-bottom: 23px;
  box-sizing: border-box;
}

.products-new,
.products-item-background {
  position: absolute;
}

/*====================================================================================================================*\
  ABOUT-SERVICES
\*====================================================================================================================*/

.about-services {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f4f7f9;
  width: 100%;
  padding-bottom: 38px;
}

.about-services-container {
  width: 400px;
  padding-top: 70px;
  margin-bottom: 67px;
}

.about-services-container h3 {
  margin-bottom: 29px;
}

.about-services-slider-container {
  display: flex;
  justify-content: space-between;
}

.services-list {
  width: 240px;
  padding: 0;
  margin: 0;
  position: relative;
}

.services-list::after {
  content: url("../img/slider-stripe.png");
  position: absolute;
  right: -1px;
  top: -36px;
}

.services-item {
  background-color: #32425c;
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  font-weight: bold;
  padding: 18px 22px;
  border-bottom: 1px solid #4d627b;
}

.services-item.item-active {
  background-color: #ffffff;
}

.services-item.item-active a {
  color: #32425c;
}

.about-services-slider {
  padding-top: 5px;
  /*padding-left: 80px;*/
}

.services-slider-block {
  background-repeat: no-repeat;
  background-position: 151px 19px;
  width: 620px;
  height: 263px;
}

.services-slider-block h2 {
  margin-bottom: 31px;
}

.services-slider-block.slide-1 {
  background-image: url("../img/services-pic-1.png");
}

.services-slider-block.slide-2 {
  background-image: url("../img/services-pic-2.png");
}

.services-slider-block.slide-3 {
  background-image: url("../img/services-pic-3.png");
}

.services-slider-block.slide-1 p {
  width: 275px;
}

.services-slider-block.slide-2 p,
.services-slider-block.slide-3 p {
  width: 380px;
}

.services-slider-block.slide-3 p {
  width: 380px;
  margin-bottom: 20px;
}

.services-slider-block.slide-3,
.services-slider-block.slide-2 {
  display: none;
}

.services-slider-button {
  background-color: #ff5357;
  color: #ffffff;
  font-size: 14px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 12px 45px;
}

/*====================================================================================================================*\
  ABOUT-COMPANY
\*====================================================================================================================*/
.about-company p {
  font-family: "PT Sans", "Arial", sans-serif;
}

.about-company-container {
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
  padding-bottom: 86px;
}

.about-company-delivery {
  width: 450px;
}

.about-company-delivery h3,
.about-company-contacts h3 {
  margin-bottom: 29px;
}

.about-company-delivery p:first-of-type {
  margin-bottom: 24px;
  width: 515px;
}

.about-company-delivery p:last-of-type {
  margin-bottom: 19px;
  width: 400px;
}

.delivery-list {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
}

.delivery-item {
  position: relative;
  padding-left: 35px;
}

.delivery-item:not(:last-child) {
  margin-bottom: 16px;
}

.delivery-item:last-child {
  margin-bottom: 42px;
}

.delivery-item::before {
  content: "";
  height: 1px;
  width: 25px;
  background-color: #ee3643;
  position: absolute;
  left: 0;
  top: 11px;
}

.about-company-contacts p {
  width: 190px;
  margin-bottom: 28px;
}

.about-company-map {
  margin-bottom: 32px;
}

.about-company-map-modal {
  display: none;
}

.about-company-link {
  padding: 11px 40px;
}

.contacts-link {
  padding: 10px 63px;
}

/*====================================================================================================================*\
  FOOTER
\*====================================================================================================================*/

.obertka-s-svetlo-sinim-fonom {
  background-color: #32425c;
}

.footer-nav {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  padding-bottom: 49px;
}

.footer-logo {
  display: block;
  margin-bottom: 32px;
  padding: 11px 0;
  font-size: 30px;
}

.footer-nav-contacts {
  width: 380px;
  align-items: 24px;
}

.footer-nav-list,
.footer-nav-list-yellow {
  display: flex;
  margin: 0;
  width: 550px;
}

.footer-nav-list {
  padding-top: 38px;
  margin-bottom: 34px;
}

.footer-nav-item:not(:last-child) {
  margin-right: 60px;
}

.footer-nav-list {
  justify-content: space-between;
}

.footer-nav-list-yellow {
  justify-content: flex-end;
}

.footer-nav-list-yellow a {
  color: #ffd180;
}

.footer-social-wrapper {
  width: 100%;
  background-color: #293449;
}

.footer-social,
.footer-social-list,
.footer-social-feedback {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  font-size: 16px;
  font-family: font-family: "Cuprum", sans-serif;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 25px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.footer-social-item {
  margin-right: 5px;
  background-color: #212a3a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
}

.footer-social-item a {
  width: 40px;
  display: flex;
  align-items: center;
}

.footer-social-item a svg {
  margin: auto;
}

.footer-social .copyright {
  width: 240px;
}

.feedback-block {
  width: 150px;
}

.feedback-block a {
  color: #ffd180;
}
