/*====================================================================================================================*\
  БАЗОВЫЕ СТИЛИ
\*====================================================================================================================*/

body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  /*font-family: "PT Sans", "Arial", sans-serif;*/
  font-family: "Cuprum", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

li {
  list-style-type: none;
}

a {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  font-family: "Cuprum", sans-serif;
}

h3 {
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  font-weight: normal;
}

h4 {
  margin: 0;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}

img {
  width: 100%;
  height: auto;
}

.centering {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-link {
  background-color: #ee3643;
  font-size: 14px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.main-link:hover {
  background-color: #ca2c37;
}

.main-link:active {
  background-color: #ba2732;
}

/*====================================================================================================================*\
  ХЕДЕР
\*====================================================================================================================*/

.obertka-s-sinim-fonom {
  width: 100%;
  background-color: #293449;
}

.obertka-s-serim-fonom {
  background-color: #f3f7f8;
  padding-bottom: 25px;
}

.obertka-s-marginom-index {
  margin-bottom: 60px;
  padding-bottom: 24px;
}

.obertka-s-marginom-catalog {
  margin-bottom: 15px;
}

.user-nav-list,
.main-nav-list {
  background-color: #293449;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  line-height: 18px;
}

.user-nav-list-container {
  display: flex;
}

.user-nav-link svg {
  margin-right: 10px;
  vertical-align: middle;
  opacity: 0.3;
}

.user-nav-link:hover svg {
  opacity: 1;
}

.user-nav-link:active svg {
  opacity: 0.7;
}

.link-bookmark {
  padding: 12px 19px;
}

.link-basket {
  padding: 12px 30px;
}

.link-bookmark:hover,
.link-basket:hover:not(.basket-active) {
  background-color: #212a3b;
}

.user-nav-link.link-search {
  position: relative;
  padding: 0;
}

.link-search input[type="search"] {
  background-color: #293448;
  border: none;
  padding: 11px 48px;
  font-size: 17px;
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
}

.link-search input[type="search"]:hover {
  background-color: #212a3b;
}

.link-search input[type="search"]:focus {
  background-color: #ffffff;
  color: #000000;
}

.link-search input[type="search"]:focus + svg {
  fill: #ee3643;
  opacity: 1;
}

.link-search svg {
  position: absolute;
  top: 12px;
  left: 17px;
  fill: #ffffff;
}

.link-logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
  line-height: 39px;
  font-size: 24px;
  padding-top: 3px;
}

.link-logo:hover {
  background-color: #ca2c37;
}

.link-logo:active {
  background-color: #ba2732;
}

.link-order {
  background-color: #63a63e;
  padding: 12px 21px;
}

.link-order:hover {
  background-color: #5fba2e;
}

.link-order:active {
  background-color: #518533;
  color: rgba(255, 255, 255, 0.5);
}

.header-block {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  margin-bottom: 39px;
}

.header-block-promo {
  font-style: italic;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  width: 200px;
  margin-left: 52px;
  padding-top: 3px;
}

.header-block-contacts {
  text-align: center;
}

.header-block-contacts-number {
  font-size: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding: 7px 17px 6px 38px;
  position: relative;
  box-sizing: border-box;
  width: 270px;
  height: 45px;
}

.header-block-contacts-number svg {
  position: absolute;
  left: 12px;
  top: 10px;
}

.header-block-contacts-address {
  font-size: 14px;
  color: #32425c;
  padding-top: 4px;
}

.registration-list {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.registration-item svg {
  margin-right: 5px;
  fill: #c5c5c5;
}

.registration-item a {
  color: #000000;
  font-size: 21px;
  background-color: #ffffff;
  padding: 10px 24px 11px 24px;
}

.user-name {
  position: relative;
}

.registration-item a:hover,
.user-item a:hover {
  color: #ee3642;
}

.registration-item a:active,
.user-item a:active,
.user-name:active {
  color: #c5c5c5;
}

.user-name:hover svg path {
  fill: #32435d;
}

.user-name svg path,
.user-name:active svg path,
.item-enter:active svg path {
  fill: #c5c5c5;
}

.user-account-link svg {
  position: absolute;
  top: 12px;
  right: -3px;
}

.item-enter {
  margin-right: 10px;
}

.item-enter a {
  padding-left: 17px;
  padding-right: 26px;
}

.item-enter:hover svg {
  fill: #32425b;
}

.main-nav-list {
  margin-bottom: 40px;
  padding: 0 21px;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
  display: flex;
}

.nav-item {
  flex-grow: 1;
}

.nav-item a {
  padding: 19px 29px 18px 29px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.nav-item:hover {
  background-color: #293449;
}

.nav-item:active {
  background-color: #1d2739;
}

.nav-item:active a {
  opacity: 0.3;
}

/*====================================================================================================================*\
  HEADER CATALOG PAGE
\*====================================================================================================================*/

.user-name {
  background-color: #ffffff;
  display: flex;
  width: 300px;
  height: 45px;
  align-items: center;
  padding: 13px;
  box-sizing: border-box;
  margin-bottom: 3px;
}

.user-name p {
  font-size: 21px;
  line-height: 25px;
}

.user-name svg {
  margin-right: 13px;
}

.user-list {
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
}

.user-item:first-of-type {
  margin-left: 18px;
}

.user-item:last-of-type {
  margin-left: 32px;
}

.user-item a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.user-item:first-of-type::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #31425c;
  position: absolute;
  top: 10px;
  left: 108px;
}

.basket-active {
  background-color: #ee3643;
}

::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffffff;}

input:focus::-webkit-input-placeholder {color:#000000;}
input:focus::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
input:focus:-moz-placeholder           {color:#000000;}/* Firefox 18- */
input:focus:-ms-input-placeholder      {color:#000000;}

/*====================================================================================================================*\
  FEATURES
\*====================================================================================================================*/

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 33px;
}

.features-item {
  width: 300px;
  height: 123px;
  color: #ffffff;
  padding: 24px 22px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.item-materials-1,
.item-materials-2 {
  display: flex;
  justify-content: space-between;
}

.item-materials-1 {
  width: 620px;
  flex-wrap: wrap;
}

.item-materials-2 {
  flex-direction: column;
  justify-content: space-between;
}

.item-materials-2 .features-item {
  margin-bottom: 20px;
}

 .features-item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
 }

.features-item-link {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 8px;
  text-transform: uppercase;
  width: 139px;
  height: 38px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

.features-item-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-item-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.item-materials {
  background-color: #ffbf47;
  background-image: url("../svg/svg-technomart/icon-1.svg");
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 202px 31px;
}

.item-instruments {
  background-color: #3bbce3;
  background-image: url("../svg/svg-technomart/icon-2.svg");
  background-repeat: no-repeat;
  background-size: 73px 65px;
  background-position: 198px 31px;

}
.item-technique {
  background-color: #dc91d8;
  background-image: url("../svg/svg-technomart/icon-3.svg");
  background-repeat: no-repeat;
  background-size: 76px 66px;
  background-position: 192px 29px;
}

.item-sale {
  background-color: #8ed78f;
  background-image: url("../svg/svg-technomart/icon-4.svg");
  background-repeat: no-repeat;
  background-size: 74px 71px;
  background-position: 189px 27px;
}

.item-delivery {
  background-color: #ffc047;
  background-image: url("../svg/svg-technomart/icon-5.svg");
  background-repeat: no-repeat;
  background-size: 77px 69px;
  background-position: 192px 29px;
}

.features-slider {
  width: 620px;
  height: 266px;
  position: relative;
}

.features-slider-slide {
  height: 266px;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 29px 23px;
}

.features-slider-slide-title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 7px;
}

.features-slider-slide-text {
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.features-slider-slide.slide-1 {
  background-image: url("../img/slider-1-slide-1.jpg");
}

.features-slider-slide.slide-2 {
  background-image: url("../img/slider-1-slide-2.jpg");
  display: none;
}

.features-slider-link {
  position: absolute;
  left: 25px;
  bottom: 21px;
  padding: 7px 48px;
}

.button-slide {
  position: absolute;
  cursor: pointer;
}

.buttons-circle .button-slide {
  background: transparent;
  border: none;
}

.button-circle-left {
  left: 19px;
  top: 113px;
}

.button-circle-right {
  right: 14px;
  top: 113px;
}

.buttons-arrow .button-slide {
  padding: 0;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  bottom: 36px;
}

.button-arrow-left {
  left: 295px;
}

.button-arrow-right {
  left: 315px;
}

.button-slide.arrow-active {
  background-color: #ee3643;
}

/*====================================================================================================================*\
  POPULAR
\*====================================================================================================================*/

.products-list,
.producers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.products-list {
  padding-bottom: 2px;
}

.popular-producers {
  margin-bottom: 66px;
}

.popular-products-wrapper,
.popular-producers-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
  padding: 24px 25px 24px 27px;
  align-items: center;
  margin-bottom: 21px;
}

.popular-link {
  padding: 8px 2px;
  width: 248px;
  text-align: center;
 }

.products-item {
  border: 1px solid #eaeaea;
  padding: 0px 14px;
  background-color: #ffffff;
  width: 220px;
  height: 318px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.products-item:hover {
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.3);
}

.products-item h4 {
  text-transform: none;
}

.products-item-price {
  font-size: 17px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.products-item img {
  width: 190px;
}

.price-sale {
  color: #a9a9a9;
  text-decoration: line-through;
  padding: 9px;
  display: block;
  height: 40px;
  box-sizing: border-box;
}

.price-actual {
  color: #ffffff;
  background-image: url("../svg/svg-technomart/red-button.svg");
  background-repeat: no-repeat;
  width: 141px;
  height: 38px;
}

.products-item-background {
  z-index: 0;
  background-color: #ffffff;
  left: -20px;
  top: 0px;
  bottom: 140px;
  right: -20px;
  padding-top: 40px;
  box-sizing: border-box;
  display: none;
}

.products-item:hover .products-item-background {
  display: block;
}

.background-button {
  font-size: 14px;
  padding: 5px;
  box-sizing: border-box;
  width: 135px;
  height: 40px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  cursor: pointer;
}

.button-buy {
  margin-bottom: 8px;
  background-color: #63a63e;
  color: #ffffff;
  border: none;
  box-shadow: 0 3px 0 0 #367315;
  position: relative;
  line-height: 33px;
}

.button-buy:hover {
  background-color: #5fba2e;
}

.button-buy:active {
  background-color: #518533;
}

.button-buy svg {
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 14px;
}

.button-buy:hover svg,
.button-buy:active svg {
  opacity: 1;
}

.button-bookmark {
  background: transparent;
  border: 3px solid #63a63e;
  color: #32425c;
}

.button-bookmark:hover {
  border: 3px solid #32425c;
}

.button-bookmark:active {
  border: 3px solid #c1c5ce;
  color: #c1c5ce;
}

.products-item-price-wrapper {
  line-height: 38px;
  padding: 0 27px;
}

.products-new {
  background-color: #ff5357;
  color: #ffffff;
  transform: rotate(45deg);
  width: 85px;
  font-size: 14px;
  line-height: 27px;
  top: 5px;
  right: -22px;
  text-align: center;
  z-index: 99;
  text-transform: none;
  display: none;
}

.products-new.products-new-active {
  display: block;
}

.producers-item {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
  width: 220px;
  height: 145px;
  margin-bottom: 19px;
  box-sizing: border-box;
}

.producers-item:hover {
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.3);
}

.producers-item:active {
  opacity: 0.3;
}

.products-new,
.products-item-background {
  position: absolute;
}

/*====================================================================================================================*\
  ABOUT-SERVICES
\*====================================================================================================================*/

.about-services {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f4f7f9;
  width: 100%;
  padding-bottom: 15px;
}

.about-services-container {
  width: 400px;
  padding-top: 68px;
  margin-bottom: 68px;
}

.about-services-container h3 {
  margin-bottom: 29px;
}

.about-services-slider-container {
  display: flex;
  justify-content: space-between;
}

.services-list {
  width: 240px;
  padding: 0;
  margin: 0;
  position: relative;
}

.services-list::after {
  content: url("../img/slider-stripe.png");
  position: absolute;
  right: -1px;
  top: -36px;
}

.services-item {
  background-color: #32425c;
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  font-weight: bold;
  padding: 18px 22px;
  border-bottom: 1px solid #4d627b;
}

.services-item:hover {
  background-color: #293449;
}

.services-item.item-active {
  background-color: #ffffff;
}

.services-item.item-active a {
  color: #32425c;
}

.about-services-slider {
  padding-top: 5px;
  /*padding-left: 80px;*/
}

.services-slider-block {
  background-repeat: no-repeat;
  background-position: 151px 19px;
  width: 620px;
  height: 263px;
}

.services-slider-block h2 {
  margin-bottom: 31px;
}

.services-slider-block.slide-1 {
  background-image: url("../img/services-pic-1.png");
}

.services-slider-block.slide-2 {
  background-image: url("../img/services-pic-2.png");
}

.services-slider-block.slide-3 {
  background-image: url("../img/services-pic-3.png");
}

.services-slider-block.slide-1 p {
  width: 275px;
}

.services-slider-block.slide-2 p,
.services-slider-block.slide-3 p {
  width: 380px;
}

.services-slider-block.slide-3 p {
  width: 380px;
  margin-bottom: 20px;
}

.services-slider-block.slide-3,
.services-slider-block.slide-2 {
  display: none;
}

.services-slider-button {
  background-color: #ff5357;
  color: #ffffff;
  font-size: 14px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 12px 45px;
}

/*====================================================================================================================*\
  ABOUT-COMPANY
\*====================================================================================================================*/
.about-company p {
  font-family: "PT Sans", "Arial", sans-serif;
}

.about-company-container {
  display: flex;
  justify-content: space-between;
  padding-top: 84px;
  padding-bottom: 86px;
}

.about-company-delivery {
  width: 450px;
}

.about-company-delivery h3,
.about-company-contacts h3 {
  margin-bottom: 29px;
}

.about-company-delivery p:first-of-type {
  margin-bottom: 24px;
  width: 515px;
}

.about-company-delivery p:last-of-type {
  margin-bottom: 19px;
  width: 400px;
}

.delivery-list {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
}

.delivery-item {
  position: relative;
  padding-left: 35px;
}

.delivery-item:not(:last-child) {
  margin-bottom: 16px;
}

.delivery-item:last-child {
  margin-bottom: 42px;
}

.delivery-item::before {
  content: "";
  height: 1px;
  width: 25px;
  background-color: #ee3643;
  position: absolute;
  left: 0;
  top: 11px;
}

.about-company-contacts {
  width: 300px;
}

.about-company-contacts p {
  width: 190px;
  margin-bottom: 28px;
}

.about-company-map {
  margin-bottom: 35px;
}

.about-company-map iframe {
  border: none;
}

.about-company-map-modal {
  display: none;
}

.about-company-link {
  padding: 11px 40px;
}

.contacts-link {
  padding: 11px 61px;
  cursor: pointer;
}

/*====================================================================================================================*\
  CATALOG PAGE
\*====================================================================================================================*/

.catalog-filters,
.catalog-products {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 20px;
}

.breadcrumbs li:not(:last-child)::after {
  content: ">";
  color: #c1c6ce;
  margin-left: 15px;
  margin-right: 15px;
}

.breadcrumbs a {
  color: #000000;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
}

.breadcrumbs-active-page {
  pointer-events: none;
  cursor: default;
}

.title-wrapper {
  background-color: #f2f6f8;
  padding: 30px;
  margin-bottom: 20px;
}

.catalog-wrapper {
  display: flex;
}

.catalog-filters {
  margin-right: 20px;
  width: 220px;
}

.catalog-filters p {
  background-color: #f7f3ec;
  padding: 9px 19px;
  margin-bottom: 12px;
}

.catalog-filters fieldset {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.catalog-filters fieldset legend {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 18px;
}

.form-range-wrapper {
  background-color: #f7f3ec;
  padding: 38px 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.catalog-filters-form-range {
  position: relative;

  width: 180px;
  background-color: #d7dcde;
}

.catalog-filters-form-range .range-scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.catalog-filters-form-range .range-bar {
  width: 80%;
  height: 2px;

  background-color: #00ca74;
}

.catalog-filters-form-range .range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 #ababab;
          box-shadow: 0 2px 2px 0 #ababab;
  cursor: pointer;
}

.catalog-filters-form-range .range-toggle:hover {
  width: 5px;
  height: 5px;
}

.range-toggle.range-toggle-min {
  left: 0;
}

.range-toggle.range-toggle-max {
  left: 78%;
}

.catalog-filters-price {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 18px;
  position: relative;
}

.catalog-filters-price::after {
  content: "—";
  position: absolute;
  font-size: 15px;
  color: #000000;
  top: 5px;
  left: 105px;
}

.filters-price {
  width: 95px;
  border: none;
  background-color: #f7f3ec;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  font-size: 17px;
  font-family: font-family: "PT Sans", "Arial", sans-serif;
}

.svg-checkbox {
  display: inline-block;
  width: 27px;
  height: 23px;
  background-image: url("../svg/svg-technomart/checkbox-off.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  opacity: 0.7;
}

.svg-radio {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../svg/svg-technomart/radio-off.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
}

.filters-label {
  font-size: 15px;
}

.filters-label input[type="checkbox"]:focus + .svg-checkbox {
  /*box-shadow: inset 0 0 0 0 #6495ED;*/
  background: red;
}

.filters-label input[type="checkbox"]:checked + .svg-checkbox {
  width: 27px;
  height: 23px;
  opacity: 0.7;

  background-image: url("../svg/svg-technomart/checkbox-on.svg");
}

.filters-label input[type="radio"]:checked + .svg-radio {
  width: 25px;
  height: 25px;
  opacity: 0.7;

  background-image: url("../svg/svg-technomart/radio-on.svg");
}

.filters-label input[type="checkbox"]:hover + .svg-checkbox,
.filters-label input[type="radio"]:hover + .svg-radio {
  opacity: 1;
}

.filters-label input[type="checkbox"]:disabled + .svg-checkbox,
.filters-label input[type="radio"]:disabled + .svg-radio  {
  opacity: 0.3;
}

.filters-label {
  margin-bottom: 14px;
}

.fieldset-producers-wrapper {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 28px;
}

.filters-button {
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #e5e5e5;
  padding: 13px;
  box-sizing: border-box;
  cursor: pointer;
}

.catalog-products {
  width: 700px;
}

.catalog-products-sorting {
  display: flex;
  justify-content: space-between;
  background-color: #f7f3ec;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.sorting-type-links {
  text-transform: uppercase;
  width: 360px;
  display: flex;
  justify-content: space-between;
  margin-left: 110px;
}

.sorting-type-links a {
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.4);
}

.sorting-type-links a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
  cursor: pointer;
}

.sorting-type-links .sorting-type-active-link {
  border-bottom: none;
  color: #ee3643;
  pointer-events: none;
}

.sorting-priority-button {
  background: transparent;
  border: none;
  color: #c5c5c5;
  cursor: pointer;
}

.sorting-priority-button.active-button {
  color: #ee3643;
  pointer-events: none;
}

.catalog-product-features h3 {
  margin-bottom: 29px;
}

.catalog-product-features .obertka-s-serim-fonom {
  padding: 60px 0;
}

.catalog-product-features p {
  font-family: "PT Sans", "Arial", sans-serif;
}

.catalog-pagination {
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 60px;
}

.catalog-pagination li {
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.catalog-pagination li:last-of-type {
  padding: 0px 107px 0px 31px;
}

.catalog-pagination li a {
  color: #000000;
}

.catalog-pagination .pagination-active-item {
  background-color: #ee3643;
  border: none;
}

.catalog-pagination .pagination-active-item a {
  color: #ffffff;
}

/*====================================================================================================================*\
  FOOTER
\*====================================================================================================================*/

.obertka-s-svetlo-sinim-fonom {
  background-color: #32425c;
}

.footer-nav {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  padding-bottom: 49px;
}

.footer-logo {
  display: block;
  margin-bottom: 33px;
  padding: 12px 0;
  font-size: 30px;
}

.footer-nav-contacts {
  width: 380px;
  align-items: 24px;
}

.footer-nav-list,
.footer-nav-list-yellow {
  display: flex;
  margin: 0;
  width: 550px;
}

.footer-nav-list {
  padding-top: 38px;
  margin-bottom: 34px;
}

.footer-nav-item:not(:last-child) {
  margin-right: 60px;
}

.footer-nav-item a:hover {
  text-decoration: underline;
}

.footer-nav-item a:active {
  text-decoration: none;
  opacity: 0.4;
}

.footer-nav-list {
  justify-content: space-between;
}

.footer-nav-list-yellow {
  justify-content: flex-end;
}

.footer-nav-list-yellow a {
  color: #ffd180;
}

.footer-social-wrapper {
  width: 100%;
  background-color: #293449;
}

.footer-social,
.footer-social-list,
.footer-social-feedback {
  display: flex;
  justify-content: space-between;
  line-height: 21px;
}

.footer-social {
  font-size: 16px;
  font-family: font-family: "Cuprum", sans-serif;
  color: #ffffff;
  padding-top: 34px;
  padding-bottom: 25px;
}

.footer-social-links {
  margin-left: 36px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.footer-social-item {
  margin-right: 5px;
  background-color: #212a3a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
}

.footer-social-item:hover {
  background-color: #ee3643;
}

.footer-social-item a {
  width: 40px;
  display: flex;
  align-items: center;
}

.footer-social-item a svg {
  margin: auto;
}

.footer-social .copyright {
  width: 240px;
}

.feedback-block {
  padding-top: 3px;
}

.feedback-block p {
  margin-bottom: -4px;
}

.feedback-block.block-1 {
  width: 150px;
}

.feedback-block.block-2 {
  margin-left: 39px;
  width: 110px;
}

.feedback-block a {
  color: #ffd180;
}

.feedback-block a:hover {
  text-decoration: underline;
}

.feedback-block a:active {
  text-decoration: none;
  color: #ee3643;
}

/*====================================================================================================================*\
  MODAL
\*====================================================================================================================*/

.write-us-modal {
  width: 625px;
  height: 427px;
  border-top: 7px solid #ff5257;
  position: fixed;
  box-sizing: border-box;
  padding: 54px 80px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  margin-left: -312px;
  margin-top: -213px;
  z-index: 100;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-input-wrapper label {
  font-size: 18px;
  margin-bottom: 10px;
}

.form-input-wrapper:nth-of-type(2){
  margin-left: 20px;
}

.form-input {
  border: 2px solid #dee3e4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
}

.input-narrow {
  width: 220px;
  height: 32px
}

.input-wide {
  width: 460px;
  height: 115px;
}

.submit-button-wrapper {
  background-color: #f4f4f4;
  padding: 37px 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.submit-button {
  padding: 11px 200px;
}

.feedback-modal-button {
  background: transparent;
  border: none;
  font-size: 50px;
  font-weight: 100;
  color: #ee3643;
  position: absolute;
  top: -5px;
  right: 5px;
}

.submit-button,
.feedback-modal-button {
  cursor: pointer;
}

.basket-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  height: 280px;
  border-top: 7px solid #ff5257;
  background-color: #ffffff;
  background-image: url(../svg/svg-technomart/form-1.svg);
  background-repeat: no-repeat;
  background-position: 55px 50px;
  padding: 70px 120px;
  box-sizing: border-box;
  margin-left: -310px;
  margin-top: -140px;
  z-index: 100;
  display: none;
}

.basket-popup h3 {
  text-transform: none;
}

.button-basket {
  padding: 11px 40px;
}

.button-basket:not(.button-basket-white) {
  margin-right: 20px;
}

.button-basket-white {
  background-color: #ffffff;
  color: #000000;
}

.button-basket-white:hover,
.button-basket-white:active {
  background-color: #ffffff;
}

.write-us-modal input::-webkit-input-placeholder {color:#a9a9a9;}
.write-us-modal input::-moz-placeholder          {color:#a9a9a9;}/* Firefox 19+ */
.write-us-modal input:-moz-placeholder           {color:#a9a9a9;}/* Firefox 18- */
.write-us-modal input:-ms-input-placeholder      {color:#a9a9a9;}

.write-us-modal input:focus::-webkit-input-placeholder {color:#a9a9a9;}
.write-us-modal input:focus::-moz-placeholder          {color:#a9a9a9;}/* Firefox 19+ */
.write-us-modal input:focus:-moz-placeholder           {color:#a9a9a9;}/* Firefox 18- */
.write-us-modal input:focus:-ms-input-placeholder      {color:#a9a9a9;}

.write-us-modal textarea::-webkit-input-placeholder {color:#a9a9a9;}
.write-us-modal textarea::-moz-placeholder          {color:#a9a9a9;}/* Firefox 19+ */
.write-us-modal textarea:-moz-placeholder           {color:#a9a9a9;}/* Firefox 18- */
.write-us-modal textarea:-ms-input-placeholder      {color:#a9a9a9;}

.write-us-modal textarea:focus::-webkit-input-placeholder {color:#a9a9a9;}
.write-us-modal textarea:focus::-moz-placeholder          {color:#a9a9a9;}/* Firefox 19+ */
.write-us-modal textarea:focus:-moz-placeholder           {color:#a9a9a9;}/* Firefox 18- */
.write-us-modal textarea:focus:-ms-input-placeholder      {color:#a9a9a9;}
